<div class="container bg-dark text-center">
  <h2 class="display-4 text-white">TO DO LIST OF</h2>
  <p class="text-success display-5">{{ username }}</p>

  <form (ngSubmit)="addtask()">
    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="taskname"
        name="taskname"
        class="form-control"
        id="taskname"
        placeholder="Enter task name"
        required
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>

  <hr/>

  <table class="table table-light">
    <thead>
      <tr>
        <th>SL No</th>
        <th>Task Name</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ task.taskname }}</td>
        <td>{{ task.status === 0 ? 'Pending' : 'Completed' }}</td>
        <td>
          <button class="btn btn-warning" (click)="changeStatus(i)">CHANGE STATUS</button>


          <button class="btn btn-danger" (click)="deleteTask(i)">DELETE TASK</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button type="submit" class="btn btn-danger w-100" (click)="logout()">LOGOUT HERE</button>
  <br><br>
</div>
