<div class="container bg-dark text-center">
  <h2 class="display-4">TO DO LIST OF</h2>
  <p class="text-success display-5">{{ username }}</p>

  <form>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="taskInput"
        placeholder="Enter task name"
        required
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>

  <hr/>


  <button type="submit" class="btn btn-danger w-100 ">LOGOUT HERE</button>
  <br> <br>
</div>
